<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <H1 >WELCOME TO FORUM</H1>
    <div class="login">
        <h2>Login:</h2>
          <form action="/login" method="POST">
            <div class="email_reg">
                 <label for="email">Your Email</label>
     <br>
      <input type="email" name="email" class="email" placeholder="enter your adress email" required>
            </div>
     
      <div class="password">
         <label for="password">password</label>
      <br>
      <input type="password" placeholder="enter your password" required>
      </div>
     <button class="signin">Sign in</button>
    </form>
    </div>
  
    
</body>
</html>