<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/statics/login&register.css">
    <title>Sign In</title>
</head>

<body>
        <h1 class="welcome-title">Welcome to AGORA FORUM,  <a href="/"><br><br><span class="homeSpan">Go to Home page by clicking here ↵</span></a></h1>
    <div class="container">
        <form class="form" method="POST" action="/login">
            <h2 class="page-action">Sign in</h2>

            {{if .Message}}
            <div class="error">{{.Message}}</div>
            {{end}}

            <div class="flex-column">
                <label>Username</label>
            </div>
            <div class="inputForm">
                <input type="text" name="username" class="input" placeholder="Enter your Username" required>
            </div>

            <div class="flex-column">
                <label>Password</label>
            </div>
            <div class="inputForm">
                <input type="password" name="password" class="input" placeholder="Enter your Password" required
                    minlength="6" autocomplete="current-password">
            </div>

            <button type="submit" class="button-submit">Sign In</button>

            <p class="p">
                Don't have an account?
                <a href="/register"><span class="span">Sign up</span></a>
            </p>
        </form>
    </div>
</body>

</html>